In [19]:
from alpha_vantage.timeseries import TimeSeries as ts

API_key = "VME1I4Y6TS9N7DLJ"
ts = ts(key = API_key, output_format = 'pandas')
data, meta_data = ts.get_daily(symbol = 'IBM')

In [20]:
import pandas as pd

In [21]:
apple_stock = data
apple_stock.head()

            1. open   2. high    3. low  4. close  5. volume
date
2023-09-26   145.51  146.1700  143.0201    143.24  4824654.0
2023-09-25   146.57  147.4300  146.2500    146.48  2694245.0
2023-09-22   147.41  148.1000  146.8200    146.91  2562216.0
2023-09-21   149.00  149.2500  147.3100    147.38  4944786.0
2023-09-20   148.36  151.9299  148.1300    149.83  9636681.0

In [23]:
# Convert 'date' column to datetime
#apple_stock = apple_stock.reset_index()   #run this once  
apple_stock['date'] = pd.to_datetime(apple_stock['date'])

In [24]:
# Rename columns and convert data types if necessary
apple_stock.rename(columns={
    '1. open': 'Open',
    '2. high': 'High',
    '3. low': 'Low',
    '4. close': 'Close',
    '5. volume': 'Volume',
    'date': 'Date'
}, inplace=True)

In [27]:
# Convert numerical columns to numeric types
numeric_cols = ['Open', 'High', 'Low', 'Close','Volume']
apple_stock[numeric_cols] = apple_stock[numeric_cols].apply(pd.to_numeric)

#apple_stock = apple_stock.drop(columns=['level_0', 'index'])    use this comment if you get an error in this cell

In [28]:
apple_stock.head()

        Date    Open      High       Low   Close     Volume
0 2023-09-26  145.51  146.1700  143.0201  143.24  4824654.0
1 2023-09-25  146.57  147.4300  146.2500  146.48  2694245.0
2 2023-09-22  147.41  148.1000  146.8200  146.91  2562216.0
3 2023-09-21  149.00  149.2500  147.3100  147.38  4944786.0
4 2023-09-20  148.36  151.9299  148.1300  149.83  9636681.0