In [9]:
library(ggplot2)
library(dplyr)

csvname = readline("What is your csv file called (Don't include the .csv portion):")
fullnamecsv = sprintf("%s.csv", csvname)
data <- read.csv(fullnamecsv)

What is your csv file called (Don't include the .csv portion): apple_ts_data

In [10]:
colnames(data)[1:5] = c("open", "high", "low", "close", "volume")
data$date = as.Date(data$date)

In [11]:
head(data)

  open   high    low     close  volume    date
1 176.48 179.695 173.860 173.93 240669811 2023-09-21
2 180.07 180.300 173.580 175.01 403746390 2023-09-15
3 188.28 189.980 173.540 178.18 305126712 2023-09-08
4 180.09 189.920 178.545 189.46 264199503 2023-09-01
5 175.07 181.550 173.735 178.61 247514268 2023-08-25
6 177.97 179.690 171.960 174.49 261498109 2023-08-18