#### Saving API key in external file

In put your key inside of `api.txt`

Put your key inside and run chunk below

In [1]:
import requests
import json

api_key = open("api.txt", "r").read()

print(f"SUCCESS! Your API key is: {api_key}")

SUCCESS! Your API key is: CW8CB4LLEJM774XD

#### Making an API request

In [2]:
ticker_nm = input("What stock do you want to see (ensure it is in ticker format):")

What stock do you want to see (ensure it is in ticker format): IBM

In [3]:
duration = input("What duration do you want to select (daily, weekly, monthly)?:")

duration = duration.upper()

What duration do you want to select (daily, weekly, monthly)?: daily

In [4]:
data_req = requests.get(f"https://www.alphavantage.co/query?function=TIME_SERIES_{duration}&symbol={ticker_nm}&apikey={api_key}")

time_series_data = data_req.json()

print("Successfully downloaded data!")

Successfully downloaded data!

#### Cleaning Data and Formatting into CSV/Tabular format

In [10]:
date_data = None
price_data = []

if duration == "DAILY":
    date_data = list(time_series_data["Time Series (Daily)"].keys())
    for date in date_data:
        price_data.append(time_series_data["Time Series (Daily)"][date])
else:
    date_data = list(time_series_data[f"{duration.capitalize()} Time Series"].keys())
    for date in date_data:
        price_data.append(time_series_data[f"{duration.capitalize()} Time Series"][date])

In [11]:
import pandas as pd

price_data_tabular = pd.DataFrame(price_data)
price_data_tabular["date"] = date_data

In [12]:
price_data_tabular.head()

    1. open   2. high    3. low  4. close 5. volume        date
0  145.5800  146.1700  143.0201  143.2400   4823210  2023-09-26
1  146.5700  147.4300  146.2500  146.4800   2694245  2023-09-25
2  147.4100  148.1000  146.8200  146.9100   2562216  2023-09-22
3  149.0000  149.2500  147.3100  147.3800   4944786  2023-09-21
4  148.3600  151.9299  148.1300  149.8300   9636681  2023-09-20

#### Data to CSV

In [12]:
csv_file_name = f"{input('What do you want to be your CSV file name?:')}.csv"

price_data_tabular.to_csv(csv_file_name, index=False)

print(f"DataFrame has been saved to: ")

What do you want to be your CSV file name?: apple_ts_data

DataFrame has been saved to: